body
{
	font-family: 'Barlow', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Permanent Marker', cursive;
}

.navbar-brand i
{
	font-size: 25px;
	color: coral;
	text-shadow: 1px 2px 1px #888;
	padding-bottom: 3px;
}